@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

::-moz-selection {
  background: #7a78ff85;
}

::selection {
  background: #7a78ff85;
}

html {
  scroll-behavior: smooth;
}

.text-gradient-purple {
  background: -webkit-linear-gradient(#7B78FF, #4F4DC1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-purple {
  background: linear-gradient(#7B78FF, #4F4DC1);
  background: -webkit-linear-gradient(#7B78FF, #4F4DC1);
}

.text-gradient-black {
  background: -webkit-linear-gradient(#515151, #020202);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-black {
  background: linear-gradient(#515151, #020202);
  background: -webkit-linear-gradient(#515151, #020202);
}

.content {
  min-height: calc(100vh - 393px);
}

.footer {
  height: 345px;
}

.drop-shadow-purple {
  box-shadow: 0px 0px 7px 2px rgba(123, 120, 255, 0.25);
}

.drop-shadow-white {
  box-shadow: 0px 0px 7px 2px rgba(191, 191, 191, 0.25);
}

.text-gradient-radial-white {
  background: radial-gradient(34.19% 34.19% at 50% 26.13%, #FFFFFF 0%, #dbdbdb 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.top-z-index {
  z-index: 100000;
}

.grid-auto-fill {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }
  .navbar-links {
    display: none;
  }
}
